service cloud.firestore {
  match /databases/{database}/documents {
    match /visitors/{visitorId} {
      allow create: if request.resource.data.fullname is string && request.resource.data.whatsapp is string;
      allow read, update, delete: if false;
    }
  }
}
